
<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
      <div class="navbarpages">
        <div class="navbar_page_center">特色菜品</div>
        <div class="menu_open_icon_white">

          <%= link_to image_tag('menu_open.png') ,'/tests',class:"external item-link item-content alert-text",'data-no-turbolink' => true %>
        </div>
      </div>
      <div id="pages_maincontent">
        <div class="list-block">
          <ul class="posts">
            <% @caipinclas.each do |caipincla| %>
                <%= caipincla.name %>
                <% @caipins.each do |caipin| %>
                    <% if caipincla.id == caipin.caipincla_id %>
                        <li>
                          <%= link_to caipin.caipinimg %>
                        </li>

                    <% end %>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
