<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
      <div class="navbarpages">
        <div class="navbar_home_link"><a href="/sides"><img src="images/icons/white/home.png" alt="" title="" /></a></div>
        <div class="navbar_page_center">管理员</div>
      </div>
      <div id="pages_maincontent">
        <h2 class="page_subtitle">管理员登陆</h2>
        <br>
        <br>
        <br>
        <br>
        <h2 id="Note"></h2>
        <div class="contactform">
          <form class="cmxform" id="ContactForm" method="post" action="">
            <label>帐号:</label>
            <input type="text" name="ContactName" id="ContactName" value="" class="form_input required" />
            <br>
            <br>
            <label>密码:</label>
            <input type="text" name="ContactEmail" id="ContactEmail" value="" class="form_input required email" />
            <br>
            <br>
            <input type="submit" name="submit" class="form_submit" id="submit" value="登陆" />
          </form>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>






