

  <%= form_for @introduction do |f| %>

      <div class="form-group">
        <label class="col-md-3 control-label">尚品：</label>
        <div>
          <%= f.kindeditor :content, simple_mode:true, owner:@introduction %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label"></label>


        <%= f.submit '确定',class:"button button-glow button-rounded button-raised button-primary pull-right" %>

      </div>



  <% end %>
