<div class="container">
  <h2>添加活动类型</h2>
  <br>
  <br>
</div>
<%= form_for(@themecla, :html => {:class=>'form-horizontal m-t',id:"signupForm",:multipart => true}) do |f| %>
    <div class="form-group">
      <label class="col-sm-3 control-label">活动类型：</label>
      <div class="col-sm-5">
        <%= f.text_field :name ,id:"name",class:"form-control"%>
      </div>
    </div>
    <br>
    <br>
    <div class="form-group">
      <div class="col-sm-5 col-sm-offset-3">
        <%= f.submit '确定',class:"button button-glow button-rounded button-raised button-primary pull-right"%>


      </div>
    </div>
<% end %>