<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">

      <div class="navbarpages">
        <div class="navbar_home_link"><a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/user.png" alt="" title="" /></a></div>
        <div class="navbar_page_center">About</div>
        <div class="menu_open_icon_white"><a href="/tests" class="external item-link item-content alert-text"><%=image_tag('menu_open.png') %></a></div>
      </div>
      <div id="pages_maincontent">

        <% if @about %>

            <%= @about.content.html_safe %>

        <% end %>

      </div>


    </div>
  </div>
</div>
