<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">

      <div class="navbarpages">
        <div class="navbar_home_link"><a href="index.html"><img src="images/icons/white/home.png" alt="" title="" /></a></div>
        <div class="navbar_page_center">近期活动</div>

        <%= link_to image_tag('menu_open.png') ,'/tests',class:"external item-link item-content alert-text",'data-no-turbolink' => true %>

        <div class="menu_open_icon_white"><a href="#" class="open-panel"><img src="images/menu_open.png" alt="" title="" /></a></div>
      </div>




    <div id="pages_maincontent">
      <h2 class="page_subtitle">欢迎关注我们近期的活动</h2>
      <ul class="features_list_detailed">








        <li>
          <div class="feat_small_icon"><img src="images/icons/turquoise/photos.png" alt="" title="" /></div>
          <div class="feat_small_details">


            <h4>活动名称</h4>
            <p>活动简介</p>
            <p>活动开始时间</p>
            <p>活动结束时间</p>
            <p>活动显示时间</p>


            <a href="photos.html" class="button_small">现在报名</a>
          </div>
        </li>


      </ul>

    </div>
  </div>
</div>
</div>
