
<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
      <div class="navbarpages">
        <div class="navbar_page_center">近期活动</div>
        <div class="menu_open_icon_white">
        <%= link_to image_tag('menu_open.png') ,'/tests',class:"external item-link item-content alert-text",'data-no-turbolink' => true %>
        </div>
      </div>
    <div id="pages_maincontent">
      <h2 class="page_subtitle">欢迎关注我们近期的活动</h2>
      <ul class="features_list_detailed">
        <li>
          <div class="feat_small_icon"><img src="images/icons/turquoise/photos.png" alt="" title="" /></div>
          <div class="feat_small_details">
                <% @promotions.each do |p| %>
                        <li>
                          <%= p.title %>
                        </li>
                <li>
                  <%= p.content %>
                </li>
                <li>
                <a href="_baomin.html" class="button_small external item-link item-content alert-text">现在报名</a>
                </li>
          <%end%>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
<h3>gndr ghrgkru eghj re</h3>









