
<hi>

    尚品

</hi>
<br><br>


<table border="1">
  <tr>



    <td><a href="/admins" class="swiper_read_more external item-link item-content alert-text">管理员</a>
    <td><a href="/tests" class="swiper_read_more external item-link item-content alert-text"> 主页</a></td>
    <td><a href="/adminabouts" class="swiper_read_more external item-link item-content alert-text">关于尚品</a></td>
    <td><a href="/introductions/1/edit" class="swiper_read_more external item-link item-content alert-text">环境与内设</a></td>
    <td><a href="/caipinclas" class="swiper_read_more external item-link item-content alert-text">菜品类型</a></td>
    <td><a href="/admincaipins" class="swiper_read_more external item-link item-content alert-text">菜品</a></td>
    <td><a href="/themeclas" class="swiper_read_more external item-link item-content alert-text">主题类型</a></td>
    <td><a href="/adminthemes" class="swiper_read_more external item-link item-content alert-text">主题</a></td>
    <td><a href="/adminpromotions" class="swiper_read_more external item-link item-content alert-text">近期活动</a></td>
    <td><a href="/enrolls" class="swiper_read_more external item-link item-content alert-text">报名情况</a></td>
  </tr>

</table>

