<script>
    $(document).ready(function(){$(".megamenu").megamenu();});
</script>
<div class="navigation-strip">
  <div class="container">
    <div class="top-menu">
      <ul class="megamenu skyblue ">
<table border="1">
  <tr>
    <li class="grid"><a class="color1" href="/admins">管理员</a></li>
    <li class="grid"><a class="color2" href='/tests'>主页</a> </li>
    <li class="grid"><a class="color4" href="/adminabouts">关于尚品</a>
    </li>
    <li><a class="color5" href="/introductions/1/edit">环境与内设</a>
    </li>
    <li><a class="color5" href="/caipinclas">菜品类型</a>
    </li>
    <li><a class="color6" href="/admincaipins">菜品</a>
    </li>
    <li><a class="color8" href="/themeclas">主题类型</a>
    </li>
    <li><a class="color9" href="/adminthemes">主题活动</a>
    </li>
    <li><a class="color5" href="/adminpromotions">近期活动</a>
    </li>
    <li><a class="color1" href="/enrolls">查看报名</a>
    </li>
  </tr>
</table>
      </ul>
    </div>
  </div>
</div>







<br><br><br><br><br><br><br><br><br>
<table border="1">
  <tr>
    <td>管理员</td>
    <td>主页</td>
    <td>关于尚品</td>
    <td>环境与内设</td>
    <td>菜品类型</td>
    <td>菜品</td>
    <td>主题类型</td>
    <td>主题</td>
    <td>近期活动</td>
    <td>报名情况</td>
  </tr>

</table>

