<div class="statusbar-overlay"></div>

<div class="panel-overlay"></div>

<div class="panel panel-left panel-cover">
  <div class="user_login_info">
    <div class="user_thumb"><img src="images/photos/photo8.jpg" alt="" title="" /></div>
    <h2>Hi, username</h2>
    <p>Edit your account settings</p>
    <nav class="list-nav-small">
      <ul>
        <li class="about-icon-small"><a href="about.html" class="close-panel">Profile</a></li>
        <li class="tools-icon-small"><a href="features.html" class="close-panel">Settings</a></li>
        <li class="lock-icon-small"><a href="features.html" class="close-panel">Account</a></li>
        <li class="envelope-icon-small"><a href="features.html" class="close-panel">Messages</a></li>
        <li class="logout-icon-small"><a href="index.html" class="close-panel">Logout</a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="views">

  <div class="view view-main">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="center sliding"><div class="logo_title">尚品</div></div>
      </div>
    </div>

    <div class="pages navbar-through toolbar-through">

      <div data-page="index" class="page homepage">
        <div class="page-content">

          <!-- Slider -->
          <div class="swiper-container swiper-init" data-effect="slide" data-pagination=".swiper-pagination">
            <div class="swiper-wrapper">




              <div class="swiper-slide">
                <span>CALL <br /> US NOW</span>
                <span class="subtitle">get in touch</span>
                <a href="/abouts" class="swiper_read_more external item-link item-content alert-text">关于我们</a>
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>
      </div>
    </div>

    <div class="toolbar">
      <div class="toolbar-inner">
        <ul class="toolbar_icons icons_4row">
          <li>

            <%= link_to image_tag('icons/white/user.png'),introductions_path, class:"external item-link item-content alert-text" %>
          </li>



          <li>
            <%= link_to image_tag('icons/white/lock.png'),caipins_path, class:"external item-link item-content alert-text" %>

          </li>





          <li><a href="#" data-popup=".popup-social" class="open-popup"><img src="images/icons/white/heart.png" alt="" title="" /></a></li>
          <li><a href="contact.html"><img src="images/icons/white/envelope.png" alt="" title="" class="external item-link item-content alert-text" /></a></li>
        </ul>
      </div>
    </div>


  </div>
</div>


<div class="popup popup-about">
  <% render 'abouts/localshow' %>
</div>


<!-- About Popup -->
<div class="popup popup-login">
  <div class="content-block">
    <h4>Login</h4>
    <div class="loginform">
      <form id="LoginForm" method="post">
        <label>Username:</label>
        <input type="text" name="Username" value="" class="form_input required" />
        <label>Password:</label>
        <input type="password" name="Password" value="" class="form_input required" />
        <input type="submit" name="submit" class="form_submit" id="submit" value="Login" />
      </form>
    </div>
    <div class="close_popup_button_gray"><a href="#" class="close-popup">Close</a></div>
  </div>
</div>
<!-- Services Popup -->
<div class="popup popup-social">
  <div class="content-block">
    <h4>Social Share</h4>
    <p>Share icons solution that allows you share and increase your social popularity.</p>
    <ul class="social_share">
      <li><a href="#"><img src="images/icons/white/twitter.png" alt="" title="" /></a></li>
      <li><a href="#"><img src="images/icons/white/facebook.png" alt="" title="" /></a></li>
      <li><a href="#"><img src="images/icons/white/googleplus.png" alt="" title="" /></a></li>
      <li><a href="#"><img src="images/icons/white/dribbble.png" alt="" title="" /></a></li>
      <li><a href="#"><img src="images/icons/white/linkedin.png" alt="" title="" /></a></li>
      <li><a href="#"><img src="images/icons/white/pinterest.png" alt="" title="" /></a></li>
    </ul>
    <div class="close_popup_button"><a href="#" class="close-popup">Close</a></div>
  </div>
</div>