







<div class="statusbar-overlay"></div>

<div class="panel-overlay"></div>





<div class="views">

  <div class="view view-main">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left sliding"><div class="logo_title">尚品</div></div>

      </div>
    </div>

    <div class="pages navbar-through toolbar-through">

      <div data-page="index" class="page homepage">
        <div class="page-content">

          <!-- Slider -->
          <div class="swiper-container swiper-init" data-effect="coverflow" data-pagination=".swiper-pagination">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <span>尚 <br /> 品质享受</span>
                <span class="subtitle">尚品休闲娱乐餐吧</span>

                <%= link_to '关于我们',abouts_path, class: 'swiper_read_more' %>
              </div>





            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bottom Toolbar-->
    <div class="toolbar">
      <div class="toolbar-inner">
        <ul class="toolbar_icons icons_4row">
          <li><a href="features.html" data-popup=".popup-login" class="open-popup"><img src="images/icons/white/user.png" alt="" title="" /></a></li>



          <li><a href="abouts"><img src="images/icons/white/settings.png" alt="" title="" /></a></li>
          <li><a href="photos.html"><img src="images/icons/white/photos.png" alt="" title="" /></a></li>
          <li><a href="#" data-popup=".popup-social" class="open-popup"><img src="images/icons/white/heart.png" alt="" title="" /></a></li>
        </ul>
      </div>
    </div>


  </div>
</div>

<!-- About Popup -->
<div class="popup popup-login">
  <div class="content-block">
    <h4>Login</h4>
    <div class="loginform">
      <form id="LoginForm" method="post">
        <label>Username:</label>
        <input type="text" name="Username" value="" class="form_input required" />
        <label>Password:</label>
        <input type="password" name="Password" value="" class="form_input required" />
        <input type="submit" name="submit" class="form_submit" id="submit" value="Login" />
      </form>
    </div>
    <div class="close_popup_button_gray"><a href="#" class="close-popup">Close</a></div>
  </div>
</div>
<!-- Services Popup -->
<div class="popup popup-social">
  <div class="content-block">
    <h4>Social Share</h4>
    <p>Share icons solution that allows you share and increase your social popularity.</p>
    <ul class="social_share">
      <li><a href="#"><img src="images/icons/white/twitter.png" alt="" title="" /></a></li>
      <li><a href="#"><img src="images/icons/white/facebook.png" alt="" title="" /></a></li>
      <li><a href="#"><img src="images/icons/white/googleplus.png" alt="" title="" /></a></li>
      <li><a href="#"><img src="images/icons/white/dribbble.png" alt="" title="" /></a></li>
      <li><a href="#"><img src="images/icons/white/linkedin.png" alt="" title="" /></a></li>
      <li><a href="#"><img src="images/icons/white/pinterest.png" alt="" title="" /></a></li>
    </ul>
    <div class="close_popup_button"><a href="#" class="close-popup">Close</a></div>
  </div>
</div>







